<div id="products">
    <h1>Create a new Product</h1>
    <form action="/product/insert" method="post">
        Name: <input type="text" name="name"><br>
        Category: <input type="text" name="category"><br>
        <button type="submit">Save New Product</button>
    </form>
</div>